---
import SectionTitle from '../../components/SectionTitle.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const response  = await fetch('https://www.gamerpower.com/api/giveaways')
    const games = await response.json()

    return games.map(game => ({
        params: {gameId: game.id },
        props: {
            ... game
        }
    }))
}

const {
    title,
    image,
    description,
    platforms,
    open_giveaway_url,
    instructions
} = Astro.props
---

<Layout>
    
    <SectionTitle title={title}></SectionTitle>



    <img class="aspect-square me-4" src={image} alt={`Imagen de ${title}`}>

    <p>{description}</p>
    <p>{platforms}</p>
    <p>{instructions}</p>
    
    <a href={open_giveaway_url}>Descargar</a>

    <br>


    <a href="/">Volver</a>
    

</Layout>

